@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.myWorksBlock {
  min-height: 100vh;
  padding: 30px;
  @include backgroundLight();

  .myWorksContainer {
    flex-direction: column;
    justify-content: flex-start;

    .myWorks {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
      @media screen and (max-width: 1129px) {
        justify-content: center;

      }
    }
  }
}



