@import "../common/styles/sass/variables";

.contactsBlock{
    width: 100%;
    height: 50vh;
    background-color: $bgColor;
}

.contactsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: darkgray;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}