@import "../common/styles/sass/variables";

.contactsBlock {
  min-height: 80vh;
  background-color: $bgColor;
  padding: 30px;


}

.contactsContainer {
  flex-direction: column;
  justify-content: flex-start;
}
.discuss{
  color: white;
  font-size: 20px;
}
.discuss li{
  color:#bbb15c ;

}
.discuss span{
  color: white;
}
.contactForm {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;

}

.contactForm input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 5px;
  margin: 10px;
}

.contactForm textarea {
  max-width: 830px;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 5px;
  margin-top: 10px;

}

.contactForm button {

  border-radius: 4px;
  background-color: #bbb15c;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 30px;
  display: inline-block;
  position: relative;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.contactForm button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 8px;
  right: -10px;
  transition: 0.5s;
}

.contactForm button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.contactForm button:hover:after {
  opacity: 1;
  right: 10px;
}


