@import "../../common/styles/sass/mixins";
.title {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 30px;
    letter-spacing: 2px;
    color:  #08fdd8;
    text-transform: capitalize;
    font-size: 30px;
    line-height:1.2 ;
    position: relative;
    @include title();
    &::before{
        content: "";
        position: absolute;
        background: #08fdd8;
        width: 70px;
        height: 2px;
        bottom: 10px;
        left: 50%;
        transform:translate(-50%,50%);
    }
.title h2{
    margin: 0;
}
}

