@import "../../common/styles/sass/mixins";
.title {
    font-family: 'Poppins', sans-serif;
    margin: 30px 0 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    position: relative;
    @include title();

    &::before {
        content: "";
        position: absolute;
        background:$primaryColor;
        width: 70px;
        height: 2px;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .title h2 {
        margin: 0;
    }

}
.title span{
    position: absolute;
    top:50%;
    left: 50%;
    line-height: 1.2;
    font-size: 110px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 900;
    transform: translate(-50%,-50%);
    color: hsla(0,0%, 50%,.1);
    @media screen and (max-width: 576px) {
        font-size: 50px;

    }
}

