@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.educBlock {
  min-height: 80vh;
  padding-top: 30px;

  .educContainer {
    display: flex;
    justify-content: space-between;

    .text {
      max-width: 80%;
      color: white;
      padding: 20px;
      position: relative;
      margin-left: 50%;
      transform: translate(-50%, 0%);

      .icon {
        @include icon();

        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          left: 40%;
          transform: translate(50%, 0%);
          height: 430px;
          width: 2px;
          background: #545050;
          z-index: -1;
        }
      }

      & h4 {
        width: 100px;
        height: 23px;
        text-align: center;
        background-color: $primaryColor;
      }

      & span {
        color: $primaryColor;
      }

      & p {
        opacity: 0.8;
      }
    }
  }
}







