@import "../../common/styles/sass/variables";
.educBlock{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

}
.educContainer{
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
  position: relative;


}
.text{
  position: relative;


}

.text span{
  color: $primaryColor;
}
.text h4{
  width: 100px;
  height: 23px;
  text-align: center;
  background-color: $primaryColor;

}
.text p{
  opacity: 0.8;
}
//.text::before{
//  content: "";
//  position: absolute;
//  left: -10%;
//  transform: translate(50%,0%);
//  height: 100%;
//  width: 2px;
//  border-left: 2px #545050 solid ;
//
//
//}
.icon{
  width: 30px;
  height: 30px;
  left: -15%;
  transform: translate(50%,60%);
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
 // margin-left: -5px;
  background-color: $primaryColor;
  position: absolute;
  margin-left: -5px;


}
.icon::before{
  content: "";
  position: absolute;
  right: 0;
  top:100%;
  left: 40%;
  transform: translate(50%,0%);
  height: 320px;
  width: 2px;
  background:#545050  ;
  z-index:-1;

  //border-left: 2px #545050 solid ;

}
