@import "../common/styles/sass/variables.scss";

.variantsBlock{
    width: 100%;
    height: 30vh;
    background-color: $bgColor;
    text-align: center;



}
.variantsContainer{
    flex-direction: column;
    justify-content: flex-start;

}
.title{
    background-color: darkgray;
}
.button{
    width: 150px;
    height: 30px;
    margin-top: 30px;


}