.skillsBlock {
    min-height: 100vh;
    background-color: #1d1d1d;


}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;


}
.title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: xx-large;
    letter-spacing: 2px;
    color:  #08fdd8;
}
.skills{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
