@import "../common/styles/sass/variables.scss";

.skillsBlock {
    min-height: 80vh;
    background-color:white;
    margin: 50px;



}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

}
.titleBlock{
    margin: 0 auto;
    max-width: 100%;
    position: relative;

}


.skills{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;



}

