@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.mainBlock {
  height: 100%;
  background-color: $bgColor;
  margin: 0;

  .text {
    max-width: 300px;
    font-family: 'Bebas Neue', cursive;
    color: $primaryColor;
    font-size: xx-large;
    letter-spacing: 0.2em;

    .name {
      text-shadow: 6px 1px 0 rgba(103, 193, 187, 0.5);
    }
  }

  .photo {
    display: inline-block;
    overflow: hidden;

    & img {
      max-width: 300px;
      height: 400px;
      width: 100%;
      display: block;
      object-fit: cover;
      transition: 1s linear;
      filter: brightness(1) opacity(0.7);
    }

    & img:hover {
      transform: scale(1.05);
      filter: grayscale(0);
    }
  }
}







