@import "../../../common/styles/sass/variables";

.rollerTextBlock {
  width: 100%;
  background-color: $bgColor;

  & h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    width: 100%;
  }

  .roller {
    height: 8.125rem;
    line-height: 3rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $textColor;

    .rollText {
      position: absolute;
      top: 0;
      animation: slide 8s infinite;

      .spareTime {
        font-size: 1.7rem;
        font-style: italic;
        letter-spacing: 1rem;
        margin-top: 0;
        color: $headerBgColor;

        @keyframes slide {
          0% {
            top: 0;
          }
          25% {
            top: -4rem;
          }
          50% {
            top: -8rem;
          }
          75.0% {
            top: -14.25rem;
          }

        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .rollerTextBlock h3 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 1.125rem;
    margin-top: 0;

    .roller {
      height: 7.6rem;
      line-height: 2.125rem;

      .rollText {
        animation: slide-mob 8s infinite;

        .spareTime {
          font-size: 1rem;
          letter-spacing: 0.1rem;
          color: $headerBgColor;

          @keyframes slide-mob {
            0% {
              top: 0;
            }
            25% {
              top: -3.125rem;
            }
            50% {
              top: -6.25rem;
            }
            75.0% {
              top: -10.375rem;
            }
          }
        }
      }
    }
  }
}










