@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

//a {
//  text-decoration: none;
//
//}
.navBlock {
  position: fixed;
  z-index: 9999;
  padding: 0;
  margin: 0;
  //background: #111;
  font-family: Montserrat;
  overflow: hidden;
  width: 100%;
  //height: 80px;
  opacity: .7;

  //@media screen and(max-width: 576px){
  //  width: 500px;
  //}

  .container {
    display: flex;
    top: 43px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $bgColor;
    border-radius: 5px;

    .text {
      position: relative;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      display: flex;
      padding: 25px 20px;
      cursor: pointer;

      &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #8d8d8c;
        transform-origin: right;
        transition: transform 400ms ease;
        z-index: -1;
        transform: scaleX(0);
      }

      &:hover::before, &:hover::after {
        transform-origin: left;
        transform: scaleX(1);
      }

      &::after {
        z-index: -2;
        filter: blur(30px);
      }
    }
  }
}


.active{
  text-decoration: none;
  color: #bbb15c;

}
.active:hover{
  color: white;
}

//.nav-item > .active {
//  border-bottom: 1px solid #333;
//}
//&.container{
//  top: 43px;
//  display: flex;
//.text{
//  padding: 25px 80px;
//  &::before, &::after{
//    transform: scaleY(0);
//    transform-origin: bottom;
//  }
//  &:hover::before, &:hover::after{
//    transform: scaleY(1);
//    transform-origin: top;
//  }
//}


