/*.nav{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*    float: left;*/
/*    margin: 0 0 3em 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    background-color: #f2f2f2;*/
/*    border-bottom: 1px solid #ccc;*/
/*    border-top: 1px solid #ccc;*/
/*}*/
/*.nav li a {*/
/*    display: block;*/
/*    padding: 8px 15px;*/
/*    text-decoration: none;*/
/*    font-weight: bold;*/
/*    color: #069;*/
/*    border-right: 1px solid #ccc;*/
/*}*/
/*.nav li a:hover {*/
/*    color: #c00;*/
/*    background-color: #fff; }*/


body {margin:0;}
h2 {
    font-family: monospace;
    color: #606060;
}
ul {
    list-style: none;
    margin: 0 auto;
}
a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
i {
    margin-right: 10px;
}
nav {
    display: block;
    width: 660px;
    margin: 0 auto 30px;
}
.four ul {
    display: -webkit-flex;
    display: flex;
    background: #FFD7A7;
    padding-left: 0;
}
.four a {
    padding: 1em;
    display: block;
    color: #9B4222;
    border-right: 1px solid #FFAB51;
    background: rgba(255, 171, 81, .3);
}
.four a:hover {background: #FFAB51}