@import "./variables";

@mixin text ($fontFamily,$fontSize,$lineHeight){
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}
@mixin title(){
  background: #ffb400;
  //background: -webkit-linear-gradient(to bottom, #ffb400 0%, #ffe71a 54%, #ffe71a 77%);
  //background: -moz-linear-gradient(to bottom, #ffb400 0%, #ffe71a  54%, #ffe71a 77%);
  //background: linear-gradient(to bottom,#ffb400 0%, #ffe71a  54%,#ffe71a 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}