$textColor:black;
$primaryColor: #ffb400;
$bgColor: #111;
$bgSecondColor:#252527;
$titleFontFamily: 'Roboto', sans-serif;
$descriptionFontFamily: 'Open Sans', sans-serif;
$headerBgColor:#111;
$headerFontFamily:'Raleway', sans-serif;
$footerTitleFontFamily:'Roboto Condensed', sans-serif;