$textColor:aliceblue;
$primaryColor: #60d9b5;
$bgColor:  #1d1d1d;
$bgSecondColor:#252527;
$titleFontFamily: 'Roboto', sans-serif;
$descriptionFontFamily: 'Roboto', sans-serif;
$headerBgColor:#68b12f;
$headerFontFamily:'Raleway', sans-serif;
$footerTitleFontFamily:'Roboto Condensed', sans-serif;